*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    font-family: 'Roboto Condensed';
    background-color: #EACDBD;
}
.container{
    max-width: 1320px;
    padding: 0 15px;
    margin: 0 auto;
}
img{
    width: 100%;
    height: auto;
}
.row{
     display: flex;
    flex-wrap: wrap;
}
.col-12{
    width: 100%;
    
}
.col-4{
    width: 33.33%;
    padding: 0 15px;
}
.col-3{
    width: 25%;
}
.justify-content-center{
    justify-content: center;
}
.d-flex{
    display: flex;
}.d-flex-none{
    display: none;
}
.justify-content-between{
    justify-content: space-between;
}
.align-items-center{
    align-items: center;
}
.navebar{
    background-color: #EACDBD;
}
.logo{
    width: 100px;
}
ul li a{
    text-decoration: none;
    color:#110C08;
    font-size: 25px;
}
ul li{
    list-style-type: none;
    margin: 10px 20px;
}
.hero{
   background: url("../images/coffee.jpg"), #00000095;
    width: 100%;
    height: 600px;
     background-size: cover;
  background-blend-mode: color;
  padding: 50px;
}
.hero h1:first-child{
    color: #fff;
    font-weight: 100;
    font-size: 50px;
}
.hero h1:last-child{
    color: #f9c2a4;
    font-size: 125px;
}
.hero a{
    text-decoration: none;
    padding: 10px 40px;
    background-color: #fff;
    border-radius: 50px;
    color:#110C08 ;
}
.text-containt{
    text-align: center;
    padding: 50px;

}
.row .col-4 .coffee-cup-1{
    background: url('../images/cup-1.jpeg'), #00000095;
    height: 300px;
    width: 100%;
      background-size: cover;
  background-blend-mode: color;
  border-radius: 50px;
  padding: 100px;
  text-align: center;
}
.row .col-4 .coffee-cup-2{
    background: url('../images/cup-2.jpeg'), #00000095;
    height: 300px;
    width: 100%;
      background-size: cover;
  background-blend-mode: color;
  border-radius: 50px;
  padding: 100px;
  text-align: center;
}
.row .col-4 .coffee-cup-3{
    background: url('../images/cup-3.jpeg'), #00000095;
    height: 300px;
    width: 100%;
      background-size: cover;
  background-blend-mode: color;
  border-radius: 50px;
  padding: 100px;
  text-align: center;
}
.coffee-cup-1 h3{
    color: #fff;
    font-size: 25px;
    margin-bottom: 20px;

}
.coffee-cup-2 h3{
    color: #fff;
    font-size: 25px;
    margin-bottom: 20px;
}
.coffee-cup-3 h3{
    color: #fff;
    font-size: 25px;
    margin-bottom: 20px;
}
.coffee-cup-1 a{
    text-decoration: none;
    color: #808080;
    font-size: 20px;
}
.coffee-cup-2 a{
    text-decoration: none;
    color: #808080;
    font-size: 20px;
}
.coffee-cup-3 a{
    text-decoration: none;
    color: #808080;
    font-size: 20px;
}
.row .col-4 .mks-cup-1{
    background: url('../images/mks-1.jpeg'), #00000046;
    height: 400px;
    width: 100%;
      background-size: cover;
  background-blend-mode: color;
  border-radius: 50px;
  text-align: center;
  padding-top: 300px;
}
.row .col-4 .mks-cup-2{
    background: url('../images/msk-2.jpeg'), #00000046;
    height: 400px;
    width: 100%;
      background-size: cover;
  background-blend-mode: color;
  border-radius: 50px;
  text-align: center;
  padding-top: 300px;
}
.row .col-4 .mks-cup-3{
    background: url('../images/mks-3.jpeg'), #00000046;
    height: 400px;
    width: 100%;
      background-size: cover;
  background-blend-mode: color;
  border-radius: 50px;
  text-align: center;
  padding-top: 300px;
}
.mks-cup-1 p{
    font-size: 20px;
    margin-right: 15px;
    margin-top: 10px;
}
.mks-cup-1 a{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    padding: 5px 20px;
    background-color: #808080;
    border-radius: 50px;
    margin-top: 10px;
}
.mks-cup-2 p{
    font-size: 20px;
    margin-right: 15px;
    margin-top: 10px;
}
.mks-cup-2 a{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    padding: 5px 20px;
    background-color: #808080;
    border-radius: 50px;
    margin-top: 10px;
}.mks-cup-3 p{
    font-size: 20px;
    margin-right: 15px;
    margin-top: 10px;
}
.mks-cup-3 a{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    padding: 5px 20px;
    background-color: #808080;
    border-radius: 50px;
    margin-top: 10px;
}
.bg-1{
    background-color: #80808046; 
    padding: 20px;
    border-radius: 40px;
    margin-bottom: 50px;

}
.bg-1 img{
    border-radius: 40px;
}
.coffee{
    margin-top: 5px;
}
.info{
    margin-top: 20px;
}
.info a{
    
    text-decoration: none;
    padding: 5px 10px;
    background-color: #110c0836;
    border-radius: 50px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    color: #fff;
}
.container h2{
    font-size: 30px;
}
.container p{
    font-size: 20px;
    margin-top: 10px;
}
.footer{
    background-color: #000;
    height: 460px;
}
.cont{
    padding: 40px;
}
.footer .hr{
    height: 2px;
    width: 100%;
    background-color: #fff;
}
.footer h4{
    color: #fff;
    font-size: 30px;
    margin-top: 30px;
}
.footer p{
    color: #fff;
}
.fa-brands{
    color: #f9c2a4;
}
.last-footer{
    background-color: #eacdbd6d;
    width: 100%;
    margin-top: 30px;
    padding-bottom: 10px;
    padding-left:30px ;
    padding-right:30px ;
}
.fa-solid{
    font-size: 20px;
}